In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/df_subvar.csv')

In [3]:
df.head(1)

,id,Event,Site,Date,White,Black,Result,BlackElo,ECO,WhiteElo,...,B<=100,B<=200,B<=500,B>500,Wprojection,Bprojection,DifProjection,Plays,SubVariation,Mainline
0,0,New York,New York,1918,"Morrison, John Stuart","Marshall, Frank James",0-1,NaN,C89,NaN,...,6,4,2,0,1152,-49307,-48155,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...,9. exd5,"['e4', 'e5', 'Nf3', 'Nc6', 'Bb5', 'a6', 'Ba4',..."

In [4]:
sub_variations = df['SubVariation'].unique().tolist()

for v in sub_variations:
    df_subvar = df.loc[df['SubVariation'] == v]

    df.loc[df['SubVariation'] == v, 'SubVar Origin Date'] = \
        df_subvar[df_subvar['Date'] == df_subvar['Date'].min()].iloc[0]['Date']

    df.loc[df['SubVariation'] == v, 'SubVar Origin Site'] = \
        df_subvar[df_subvar['Date'] == df_subvar['Date'].min()].iloc[0]['Site']

In [5]:
df

,id,Event,Site,Date,White,Black,Result,BlackElo,ECO,WhiteElo,...,B<=500,B>500,Wprojection,Bprojection,DifProjection,Plays,SubVariation,Mainline,SubVar Origin Date,SubVar Origin Site
0,0,New York,New York,1918,"Morrison, John Stuart","Marshall, Frank James",0-1,NaN,C89,NaN,...,2,0,1152,-49307,-48155,1. e4 e5 2. Nf3 Nc6 3. Bb5 a6 4. Ba4 Nf6 5. O-...,9. exd5,"['e4', 'e5', 'Nf3', 'Nc6', 'Bb5', 'a6', 'Ba4',...",1918.0,New York